.container {
    position: relative;
}

.row {
    display: flex;
}
.row:first-child div{
    border-radius: 50%;
    cursor: default;
}
.row:first-child > div:first-child{
    visibility: hidden;
}
.row:first-child > div:last-child{
    visibility: hidden;
}
.row:nth-child(n+2) > div:first-child {
    border-radius: 50%;
}
.row:nth-child(n+2) > div:last-child {
    border-radius: 50%;
}
.row:last-child div{
    border-radius: 50%;
}
.row:last-child > div:first-child{
    visibility: hidden;
}
.row:last-child > div:last-child{
    visibility: hidden;
}

.circleSelectorTop {
    position: absolute;
    top: -23px;
}
.circleSelectorLeft {
    position: absolute;
    left: -23px;
}
.circleSelectorRight {
    position: absolute;
    right: -23px;
}